.cell {
  width: 40px;
  height: 40px;
  background-color: lightgray;
  cursor: pointer;
}

.has-mine-state {
  width: 40px;
  height: 40px;
  background-color: red;
}
.no-mine-state {
  width: 40px;
  height: 40px;
  background-color: green;
}
