.header {
  background-color: #4caf50;
  padding: 16px 0;
}

.navList {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  color: white;
  margin: 20px;
  text-decoration: none;
  cursor: pointer;
}

.active {
  color: orange;
  text-decoration: underline;
}
