.btn-primary {
  background-color: $primary-color;
  color: red;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: $font-family;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}
