.container {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 40px;
}

.block {
  width: 250px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  background: #f3f3f3;
  padding: 6px 10px;
  border-radius: 6px;
}

button {
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.green {
  background-color: lightgreen;
}

.red {
  background-color: salmon;
}
