.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 10px 12px;
  background-color: #f8fafc;
  border-radius: 10px;
}

.title {
  font-size: 14px;
  color: #1e293b;
}

.select {
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid #cbd5f5;
  background-color: rgb(15, 14, 14);
  font-size: 14px;
  cursor: pointer;
}

.select:focus {
  outline: none;
  border-color: #6366f1;
}
