.appWrapper {
  width: 100%;
  max-width: 750px;

  background: rgb(244, 246, 247);
  padding: 32px;
  border-radius: 16px;

  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Заголовок задачі */
.taskTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

/* Блок задачі */
.block {
  padding-bottom: 24px;
  border-bottom: 1px solid #e4e4e4;
}

.block:last-child {
  border-bottom: none;
}

/* Красиві інпути */
input,
select {
  padding: 10px 14px;
  font-size: 16px;

  border: 1px solid #d1d1d1;
  border-radius: 8px;

  margin-top: 6px;
  margin-bottom: 12px;

  width: 100%;
}

/* Кнопка */
button {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;

  background: #4c7eff;
  color: white;
  font-size: 15px;
  font-weight: 500;

  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #3b64d8;
}
