.footer {
  background-color: darken($primary-color, 10%);
  color: white;
  padding: 15px 40px;
  text-align: center;
  font-family: $font-primary;
  font-size: 0.9rem;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);

  a {
    color: lighten(white, 20%);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
