.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: "Inter", system-ui, sans-serif;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #86c345;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.productsList {
  /* display: flex;
  gap: 30px;
  flex-direction: column;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
