@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../../fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../../fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Загальні змінні для шрифтів
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Arial', sans-serif;

// Використання шрифтів у базових стилях
body {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
}
